@model MVCLogin.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <style>
        body {
            background: #256E43;
            background: -webkit-linear-gradient(right, #256E43, #8DC26F);
            background: -moz-linear-gradient(right, #256E43, #8DC26F);
            background: -o-linear-gradient(right, #256E43, #8DC26F);
            background: linear-gradient(to left, #256E43, #8DC26F);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .login-div {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .field-validation-error {
            color: red;
            font-family: "Roboto", sans-serif;
        }

        .button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #256E43;
            width: 100%;
            border: 0;
            padding: 50px;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #76b852;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                cursor: pointer;
            }

                .form button:hover, .form button:active, .form button:focus {
                    background: #43A047;
                }

        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="login-div">
        <div class="form">

            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
            {
                <table>
                    @*<tr>
                        
                        <td style="text-decoration:underline">Log in</td>
                    </tr>*@
                    <tr>
                     
                       
                            <input type="text" placeholder="username"  @Html.EditorFor(model => model.UserName)
                       
                    </tr>
                    <tr>
                        
                        @Html.ValidationMessageFor(model => model.UserName)
                    </tr>

                    <tr>
                       
                       
                            <input type="password" placeholder="password"@Html.EditorFor(model => model.Password) 
                        
                    </tr>
                    <tr>
                       
                        @Html.ValidationMessageFor(model => model.Password)
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td>
                                <input class="button" type="submit" name="name" value="Login" />
                            </td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            <td>
                                
                                <input class="button" type="reset" name="name" value="Clear" />
                            </td>
                        
                    </tr>
                </table>
            }

        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </div>
</body>
</html>